.body{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container2{
    display: flex;
    width: 100%;
    column-gap: 15px;
    margin-top: 20px;
}
.add-btn{
    margin-top: 20px;
    width: 10%;
}
.summary{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    row-gap: 12px;
}
.cart-header{
    background-color: rgb(172, 172, 172);
    width: 100%;
    display: flex;
}
.r:nth-child(1){
    flex-basis: 40%;
}
.r:nth-child(2){
    flex-basis:20% ;
}
.r:nth-child(3){
    flex-basis:20% ;
}
.r:nth-child(4){
    flex-basis:20% ;
}

.total{
    margin-bottom: 50px;
}


